<div class="uk-light">
    <nav class="uk-navbar-container" style="height: 10vh !important; z-index: 981; background-color: #222;" uk-navbar>
        <div class="uk-navbar-center">
            <div class="uk-navbar-center-left">
            </div>
            <a href="" class="uk-navbar-item uk-logo handwriting">Welcome, Krissi</a>
            <div class="uk-navbar-center-right">
            </div>
        </div>
    </nav>
</div>