<ul class="uk-child-width-expand" uk-tab="animation: uk-animation-fade">
    <li><a href="#">Bio/Contact</a></li>
    <li><a href="#">Sample Images</a></li>
    <li><a href="#">Parallaxes</a></li>
</ul>

<ul class="uk-switcher uk-width-1-1">
    <li>
        <%= render 'admin_form' %>
    </li>
    <li>
        <%= render 'sample_list' %>
    </li>
    <li>
        <%= render 'parallax_list' %>
    </li>
</ul>

<%= link_to 'Sign Out', sign_out_path, method: :delete %>