<ul class="uk-child-width-expand" uk-tab="animation: uk-animation-fade" style="background-color: white; margin-top: 0 !important;" uk-sticky>
    <li style="padding-left: 0 !important;"><a class="admin-tab custom-font-1" href="#">Info</a></li>
    <li><a class="admin-tab custom-font-1" href="#">Samples</a></li>
    <li><a class="admin-tab custom-font-1" href="#">Parallaxes</a></li>
</ul>

<ul class="uk-switcher uk-width-1-1">
    <li>
        <%= render 'admin_form' %>
    </li>
    <li>
        <%= render 'sample_list' %>
    </li>
    <li>
        <%= render 'parallax_list' %>
    </li>
</ul>

<%= render 'footer' %>
