<div class="uk-section-muted uk-child-width-1-1 uk-grid-collapse page-section" uk-grid>
    <div class="page-section-half uk-background-cover uk-light uk-flex" uk-parallax="bgy: 350" style="background-image: url('img/samples/parallax_2.jpg')">
        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical handwriting"></h1>
    </div>
    <div id="third-section">
        <div class="uk-card uk-card-default uk-card-small" uk-sticky="offset: 80; bottom: true">
            <div class="uk-text-center uk-card-body uk-text-lead handwriting">
                All about Krissi
            </div>
        </div>
        <article class="uk-comment uk-comment-primary">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-1-1">
                    <h4 class="uk-text-lead uk-margin-remove custom-font-1 uk-text-center">Krissi Flynn</h4>
                </div>
                <div class="uk-width-1-2@m uk-width-1-1@s">
                    <%= simple_format(@krissi.bio_body, class: 'uk-text-center custom-font-2') %>
                </div>
                <div class="uk-width-1-2@m uk-width-1-1@s">
                    <img class="uk-box-shadow-small uk-align-center uk-border-rounded uk-height-max-large" src="http://willchaophotography.com/wp-content/uploads/2016/02/melbourne-wedding-photographer-jade144.jpg">
                </div>
            </header>
        </article>
    </div>
</div>