<div class="uk-section-muted uk-child-width-1-1 uk-grid-collapse page-section" uk-grid>
    <div class="uk-background-cover uk-light uk-flex page-section-half" uk-parallax="bgy: 350" style="background-image: url('img/samples/parallax_1.jpg')">
        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical handwriting"></h1>
    </div>
    <div id="second-section">
        <div class="uk-card uk-card-default uk-card-small" uk-sticky="offset: 80; bottom: true">
            <div class="uk-text-center uk-card-body uk-text-lead handwriting">
                Hire me!
            </div>
        </div>
        <article class="uk-comment uk-comment-primary">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-1-1">
                    <div class="uk-width-1-1">
                        <p class="uk-text-center">
                            <%= link_to @krissi.linkedin, class: 'ui linkedin button' do %>
                                <i class="linkedin icon"></i>
                                LinkedIn
                            <% end %>
                            <%= link_to @krissi.facebook, class: 'ui facebook button' do %>
                                <i class="facebook icon"></i>
                                Facebook
                            <% end %>
                            <%= link_to @krissi.instagram, class: 'ui instagram button' do %>
                                <i class="instagram icon"></i>
                                Instagram
                            <% end %>
                        </p>
                    </div>
                    <div class="uk-width-1-1">
                        <%= simple_format(@krissi.contact_body, class: 'uk-text-center custom-font-2') %>
                    </div>
                </div>
            </header>
        </article>
    </div>
</div>