<div class="uk-section-muted uk-child-width-1-1 uk-grid-collapse page-section" uk-grid>
    <div class="uk-background-cover uk-light uk-flex page-section-half" uk-parallax="bgy: 350" style="background-image: url('img/samples/parallax_1.jpg')">
        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical handwriting"></h1>
    </div>
    <div id="second-section">
        <div class="uk-card uk-card-default uk-card-small" uk-sticky="offset: 80; bottom: true">
            <div class="uk-text-center uk-card-body uk-text-lead handwriting">
                Hire me!
            </div>
        </div>
        <article class="uk-comment uk-comment-primary">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-1-1">
                    <div class="uk-width-1-1">
                        <p class="uk-text-center">
                            <button class="ui linkedin button">
                                <i class="linkedin icon"></i>
                                LinkedIn
                            </button>
                            <button class="ui facebook button">
                                <i class="facebook icon"></i>
                                Facebook
                            </button>
                            <button class="ui instagram button">
                                <i class="instagram icon"></i>
                                Instagram
                            </button>
                        </p>
                    </div>
                    <div class="uk-width-1-1">
                        <p class="uk-text-center custom-font-2">I’m a portraiture photographer, I take pictures of people.

                            Born in East Berlin, grew up in Sussex, England. My first years were spent behind the iron curtain. I now live in New York City. I travel to Europe often.

                            My goal is to show the beauty, grace, strength and enthusiasm of people. I focus on non-models and place regular people in exaggerated situations that highlight an aspect of who they are. I look for a sense of defiance and fortitude in my work.

                            I’m based in New York City but travel for projects around the globe. As well as a bit of photo assisting for Annie Leibovitz in New York and Mario Testino in London, I shoot a lot of portraiture as well as assignments for agencies like Getty Images, WireImage, the Redferns Music Library, Getty Travel and others, including my celebrity portraits over at ContourPhotos.

                            fb: www.facebook.com/felixkunzephoto
                            twitter: @felixkunze
                            US: +1 917 213 0716
                            UK: +44 7515 352130</p>
                    </div>
                </div>
            </header>
        </article>
    </div>
</div>