<nav class="uk-navbar-container" style="background-color: #222 !important; height: 80px !important;" uk-navbar>
    <div class="uk-navbar-left custom-font-1" style="color: #d3d3d3;">By Jordan Ellis-Lynch</div>
    <div class="uk-navbar-center custom-font-1" style="color: #d3d3d3;">github.com/jordy-el</div>
    <div class="uk-navbar-right custom-font-1" style="color: #d3d3d3;">www.facebook.com/jordy-el</div>
</nav>