<nav class="uk-navbar-container" style="background-color: #222 !important; height: 80px !important;" uk-navbar>
    <div class="uk-navbar-left">
        <% if signed_in? %>
            <ul class="uk-navbar-nav">
                <li class="uk-navbar-item">
                    <div>
                        <%= link_to 'Sign Out', sign_out_path, class: 'custom-font-1', style: 'color: #d3d3d3;' %>
                    </div>
                </li>
            </ul>
        <% end %>
    </div>
    <div class="uk-navbar-center custom-font-1">
        <ul class="uk-navbar-nav">
            <li class="uk-navbar-item">
                <div>
                    <a style="color: #d3d3d3;" class="custom-font-1" href="mailto:jordan_nose2@hotmail.com?Subject=Krissi%20Flynn%20Portfolio">Email Admin</a>
                </div>
            </li>
            <li class="uk-navbar-item">
                <div>
                    <a style="color: #d3d3d3;" class="custom-font-1" href="https://www.github.com/jordy-el">Created by Jordan Ellis-Lynch</a>
                </div>
            </li>
            <li class="uk-navbar-item">
                <div>
                    <a style="color: #d3d3d3;" class="custom-font-1" href="/admin">Admin Panel</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right" ></div>
</nav>