<div class="uk-section-muted uk-child-width-1-1 uk-grid-collapse page-section" uk-grid>
    <%= render 'parallax', image: @krissi.parallaxes.third.image %>
    <div id="fourth-section">
        <div class="uk-card uk-card-default uk-card-small" uk-sticky="offset: 80; bottom: true">
            <div class="uk-text-center uk-card-body uk-text-lead handwriting">
                Just some nice links
            </div>
        </div>
        <div class="uk-width-1-1">
            <p class="uk-text-center custom-font-2"></p>
        </div>
    </div>
</div>