<!--<div id="page-loader" class="uk-position-center uk-width-1-1 uk-height-1-1 uk-position-fixed" style="z-index: 1000; background-color: #444;">
    <div class="uk-position-center" uk-spinner></div>
</div>
<script>
    $(document).ready(function() {
        $('#page-loader').fadeOut(1000);
    })
</script>-->