<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky" style="height: 80px !important; z-index: 981;">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center" uk-scrollspy-nav="closest: li; offset: 90; overflow: true">
            <div class="uk-navbar-center-left">
                <ul class="uk-navbar-nav">
                    <li><a class="custom-font-1" href="#first-section" uk-scroll="offset: 80; duration: 800">Samples</a></li>
                    <li><a class="custom-font-1" href="#second-section" uk-scroll="offset: 80; duration: 800">Contact</a></li>
                </ul>
            </div>
            <a href="" class="uk-navbar-item uk-logo handwriting">Krissi Flynn</a>
            <div class="uk-navbar-center-right">
                <ul class="uk-navbar-nav">
                    <li><a class="custom-font-1" href="#third-section" uk-scroll="offset: 80; duration: 800">About Me</a></li>
                    <li><a class="custom-font-1" href="#fourth-section" uk-scroll="offset: 80; duration: 800">Links</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>