<div id="first-section" class="uk-height-1-1">
    <div class="uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-collapse" uk-grid uk-lightbox="animation: slide">
        <% @samples.each do |s| %>
            <%= render 'sample', sample: s %>
        <% end %>
    </div>
</div>