<div id="first-section" class="uk-height-1-1">
    <div class="uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-collapse" uk-grid uk-lightbox="animation: slide">
        <div>
            <a class="uk-child-width-1-1" href="img/samples/1_full_res.jpg" caption="Caption 1">
                <img src="img/samples/1_thumb.jpg" alt="Placeholder">
            </a>
        </div>
        <div>
            <a class="uk-child-width-1-1" href="img/samples/2_full_res.jpg" caption="Caption 2">
                <img src="img/samples/2_thumb.jpg" alt="Placeholder">
            </a>
        </div>
        <div>
            <a class="uk-child-width-1-1" href="img/samples/3_full_res.jpg" caption="Caption 3">
                <img src="img/samples/3_thumb.jpg" alt="Placeholder">
            </a>
        </div>
        <div>
            <a class="uk-child-width-1-1" href="img/samples/4_full_res.jpg" caption="Caption 4">
                <img src="img/samples/4_thumb.jpg" alt="Placeholder">
            </a>
        </div>
        <div>
            <a class="uk-child-width-1-1" href="img/samples/5_full_res.jpg" caption="Caption 5">
                <img src="img/samples/5_thumb.jpg" alt="Placeholder">
            </a>
        </div>
        <div>
            <a class="uk-child-width-1-1" href="img/samples/6_full_res.jpg" caption="Caption 6">
                <img src="img/samples/6_thumb.jpg" alt="Placeholder">
            </a>
        </div>
        <div>
            <a class="uk-child-width-1-1" href="img/samples/7_full_res.jpg" caption="Caption 7">
                <img src="img/samples/7_thumb.jpg" alt="Placeholder">
            </a>
        </div>
        <div>
            <a class="uk-child-width-1-1" href="img/samples/8_full_res.jpg" caption="Caption 8">
                <img src="img/samples/8_thumb.jpg" alt="Placeholder">
            </a>
        </div>
    </div>
</div>