<%= link_to sample.image.url(:original), class: 'uk-child-width-1-1 uk-inline-clip uk-transition-toggle', caption: sample.caption, 'data-type' => 'image' do %>
    <%= image_tag sample.image.url(:thumb), alt: sample.alt %>
    <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
        <p class="uk-h4 uk-margin-remove uk-text-center"><%= sample.category %></p>
    </div>
<% end %>